.frontpage-banner {
    @apply bg-[#7d0a0a] max-w-full;
    color: #ead196;

    .banner-inner {
        @apply flex flex-col mx-auto md:flex-row md:items-center;
        min-height: 500px;
        max-width: var(--content-container-width);
    
        .banner-image {
            @apply flex justify-center;
        }
    
        .banner-content {
            @apply flex flex-col text-left md:text-center;
        }
    
        .banner-buttons {
            @apply flex flex-col;
            gap: 8px;
            align-items: center;
        }
    
        .banner-buttons-grouped {
            @apply flex;
            gap: 8px;
        }
    
        .banner-button-contact {
            border-color: #ead196;
            text-align: center;
            padding-left: 16px;
            padding-right: 16px;
            min-width: 150px;
        }
    }
}