/**
  * Theme Name:         Shun Luk Brave
  * Template:           sage
  * Description:        Child theme based on Brave Sage theme by :Yard | Digital Agency starter child theme. https://yard.nl/
  * Version:            0.0.1
  * Author:             Yard | Digital Agency, Shun Luk
  * Author URI:         https://shunluk.com
  * Text Domain:        sage
  * License:            MIT License
  * License URI:        https://opensource.org/licenses/MIT
  * Requires PHP:       8.1
  * Requires at least:  5.9
  */
