.header {
    background-color: #7d0a0a;

    .site-branding-logo {
        min-height: 125px;
    }

    .search-bar-open-btn {
        svg {
            fill: #ead196;
        }

        &:hover,
        &:focus,
        &:active {
            background-color: #ead196;
            
            svg {
                fill: #7d0a0a;
            }
        }
    }

    .nav-primary {
        .menu-item a {
            color: #ead196;

            &:hover,
            &:focus,
            &:active {
                color: #ead196;
                border-bottom-color: #ead196;
            }
        }
    }
}